<a href="https://colab.research.google.com/github/orbenishay/pandas-project/blob/master/Bicycle_6_Hagai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sys
import pandas as pd
import matplotlib.pyplot as plt # visualization, EDA
import numpy as np  # Mathematical calculations
%matplotlib inline

In [0]:
if 'google.colab' in sys.modules:
    from google.colab import files
    uploaded = files.upload()

In [24]:
# Hagai's Analysis:
# -----------------------------------------------------------------------------------------
# Read csv's
df_trip = pd.read_csv("trip.csv",
                   index_col='id', parse_dates=True)
df_trip['Date_ec'] = pd.to_datetime(df_trip['start_date'], errors='coerce')
df_trip['date_day']=df_trip['Date_ec'].dt.date
df_trip.head()

df_station = pd.read_csv("station.csv", index_col = 'id')
df_station.head()

df_weather = pd.read_csv("weather.csv", parse_dates=['date'])
df_weather['date_ec'] = pd.to_datetime(df_weather['date'], errors='coerce')
df_weather['date_day']=df_weather['Date_ec'].dt.date
df_weather.head()

# -----------------------------------------------------------------------------------------
# Merges
df_trip_weather = df_trip.merge(df_weather, how='left', left_on = 'date_day', right_on='date_day')
df_trip_weather.head()

# ----------------------------------------------------------------------------------------
# Year/Month aggregation
df_trip['day']=df_trip['start_date']
df_trip['year'] = pd.DatetimeIndex(df_trip['start_date']).year
df_trip['month'] = pd.DatetimeIndex(df_trip['start_date']).month
df_trip['day'] = pd.DatetimeIndex(df_trip['start_date']).day
df_trip['hour'] = pd.DatetimeIndex(df_trip['start_date']).hour
df_trip['weekday'] = pd.DatetimeIndex(df_trip['start_date']).weekday
df_group=df_trip.groupby(['month','year']).agg({'start_date':'count'}).unstack(-1)
df_group.plot(kind='bar', stacked=False, figsize=(12, 6), by='year')
df_group.head(20)
df_trip['start']=pd.to_datetime(df_trip['start_date'])
df_trip['end']=pd.to_datetime(df_trip['end_date'])
df_trip['duration']=df_trip['end']-df_trip['start']
df_trip.head()

# ------------------------------------------------------------------------------------------
# rents distribution by city
df_station = pd.read_csv("station.csv", index_col = 'id')
df_trip_station = df_trip.merge(df_station, how='left', left_on = 'start_station_id', right_on='id')
# df_trip_station.head()
df_group_city_station=df_trip_station.groupby(['city','station_name']).agg({'start_date':'count'})
df_group_city_station.boxplot(column='start_date', by='city')
df_group_city_station.groupby('city').describe().unstack(0)
df_group_city_station.head()

# ------------------------------------------------------------------------------------------
# count rent by hour & weekday

# ------------------------------------------------------------------------------------------
# duration distribution
df_trip['start']=pd.to_datetime(df_trip['start_date'])
df_trip['end']=pd.to_datetime(df_trip['end_date_orig'])
df_trip['duration']=df_trip['end']-df_trip['start']
df_station = pd.read_csv("station.csv", index_col = 'id')
df_trip_station = df_trip.merge(df_station, how='left', left_on = 'start_station_id', right_on='id')
df_trip_station.boxplot(column='duration', by='city')
df_trip_station['duration'].astype('timedelta64[s]').plot.hist()


df_trip_station['duration_minutes'] = pd.DatetimeIndex(df_trip_station['duration'])
df_trip_station.groupby(['city']).agg({'duration_minutes':'mean'})


.hist(column='duration', by='city', bins=50)
df['time_delta'].astype('timedelta64[s]').plot.hist()

   start_station_id  end_station_id  bike_id  ... zip_code_y  Date_ec_y    date_ec
0                75              66      626  ...    94107.0 2013-08-29 2013-08-29
1                75              66      626  ...    94063.0 2013-08-29 2013-08-29
2                75              66      626  ...    94301.0 2013-08-29 2013-08-29
3                75              66      626  ...    94041.0 2013-08-29 2013-08-29
4                75              66      626  ...    95113.0 2013-08-29 2013-08-29

[5 rows x 22 columns]